PBIR_MCP_FABRIC_API_BASE_URL=https://api.fabric.microsoft.com/v1
PBIR_MCP_POWERBI_API_BASE_URL=https://api.powerbi.com/v1.0/myorg
PBIR_MCP_TENANT_ID=<tenant-guid>
PBIR_MCP_CLIENT_ID=<app-client-id>
PBIR_MCP_CLIENT_SECRET=<secret>
PBIR_MCP_USE_MANAGED_IDENTITY=false
PBIR_MCP_DEFAULT_TIMEOUT_SECONDS=30
PBIR_MCP_MAX_RETRIES=5
